{% extends 'base.html.twig' %}
{% import "codemirror.macros.html.twig" as cmMacros %}

{% block stylesheets %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}
        {{ encore_entry_link_tags('notes') }}
    {% else %}
        {{ encore_entry_link_tags('welcome') }}
    {% endif %}

    {% for key, highglightTheme in highlightJsThemes %}
        {% set isSelected = highglightTheme.isSelected %}
        <link rel="stylesheet" {{ isSelected ? '' : 'disabled' }} title="{{ key }}"
            class="{{ isSelected ? 'current' : '' }}" href="{{ highglightTheme.url }}" crossorigin="anonymous" />
    {% endfor %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}
        {{ encore_entry_script_tags('notes') }}
    {% else %}
        {{ encore_entry_script_tags('welcome') }}
    {% endif %}
{% endblock %}

{% block navitems %}
    {% if is_granted('ROLE_USER') %}
        <button type="button" id="note-settings-btn" class="modal-trigger" data-target="settings-popup">
            <i class="fas fa-cog"></i>
        </button>
    {% endif %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        {{ _self.settingsPopup(pageThemes, highlightJsThemes) }}
        {{ _self.notePage(workspaces) }}
    {% else %}
        {{ _self.welcomePage() }}
    {% endif %}
{% endblock %}

{% macro settingsPopup(pageThemes, highlightJsThemes) %}
    <div id="settings-popup" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s6">
                            Select Page Theme:
                        </div>
                        <div class="col s6">
                            <select id="page-theme">
                            {% for key, theme in pageThemes %}
                                {% set selected = theme.isSelected ? 'selected' : '' %}\
                                <option value="{{ key }}" {{ selected }}>{{ theme.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            Input Theme:
                        </div>
                        <div class="col s6">
                            {{ cmMacros.codemirrorThemeSelect() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            Output Theme:
                        </div>
                        <div class="col s6">
                            {{ _self.highlightJsSelect(highlightJsThemes) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button type="button" class="btn show-cookie-pref">
                                Show Cookie Preferences
                            </button>
                        </div>
                        <div class="col s6">
                            <button type="button" class="btn export-notes">
                                Export Notes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-green btn-flat right">Close</button>
        </div>
    </div>
{% endmacro %}

{% macro noteTitleTemplate() %}
    <button type="button" id="note-item-template" class="note-item btn tooltipped" data-position="right">
        <span class="title"></span>
        <span class="last-modified"></span>
        <span class="tag-container">
            <span id="note-tag-template" class="note-tag"><span>
        </span>
    </button>
{% endmacro %}

{% macro highlightJsSelect(themes) %}
    <select id="highlightjs-theme">
    {% for key, theme in themes %}
        <option value="{{ key }}" {{ theme.isSelected ? 'selected' }}>{{ key }}</option>
    {% endfor %}
    </select>
{% endmacro %}

{% macro notePage(workspaces) %}
    <aside id="note-navigation">
        <div id="toolbox">
            {# {% if workspaces|length == 1 %}
                {% set workspace = workspaces|first %}
                <span id="active-workspace" class="active-workspace" value="{{ workspace.getUuid() }}">
                    {{ workspace.getName() }}
                </span>
            {% elseif workspaces|length > 1 %} #}
                <select id="active-workspace" class="active-workspace">
                {% for index, workspace in workspaces %}
                    <option {{ loop.first ? 'selected' : '' }} value="{{ workspace.getUuid() }}">
                        {{ workspace.getName() }}
                    </option>
                {% endfor %}
                </select>
            {# {% endif %} #}
            <button type="button" id="new-note" class="btn">New Note</button>
        </div>
        <div id="note-items">
            {{ _self.noteTitleTemplate() }}
        </div>
        <ul id="note-menu">
            <li id="delete-note" class="menu-item" data-action="delete">Delete</li>
            {# <li id="copy-note" class="menu-item" data-action="copy">Copy</li> #}
        </ul>
        <div id="note-menu-out-click"></div>
    </aside>
    <div id="noted">
        <div id="mobile-menu">
            <button type="button" class="toggle-nav btn"><i class="fas fa-chevron-right"></i></button>
            <button type="button" class="toggle-view btn"><i class="fas fa-book-open"></i></button>
        </div>
        <div id="input-wrap">
            <textarea id="markdown-input" data-noteref="" data-theme="" placeholder="Markdown note goes here..."></textarea>
        </div>
        <div id="output-wrap" class="expanded">
            <div id="markdown-output" class="hljs"></div>
        </div>
    </div>
{% endmacro %}

{% macro welcomePage() %}
    <h1>Note'd Markdown Notes</h1>
    <h2>
        <pre class="stylish-code">&lt;inserts amazing graphics here&gt;</pre>
    </h2>
    <hr>
    <p>
        This project is an expedition to provide a markdown application that works well on desktop and mobile devices,
        while also providing the security of self-hosting the data using OAuth to validate credentials.
    </p>
    <ul class="fun-list">
        <li>
            <a href="https://github.com/shmolf/noted" target="_blank" title="Opens in a new window">This site's repo</a>
        </li>
        <li>
            <a href="https://github.com/shmolf/noted-storage-symfony" target="_blank" title="Opens in a new window">
                Repo to self-host your own note storage
            </a>
        </li>
    </ul>
{% endmacro %}
